@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #303030;
  padding: 10px 0 30px 0;
}

body {
  background-color: #212121;
  padding: 5%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: black;
  background-color: #bb86fc;
  padding: 10px;
}

h2 {
  color: white;
  font-weight: normal;
  margin: 50px 10% 0;
  font-size: 24px;
  text-align: left;
}

p {
  margin-top: 0;
  margin-left: 18%;
  text-align: left;
  font-size: 14px;
}

input {
  max-width: 100%;
  margin-top: 20px;
  padding: 10px 3%;
  border: none;
  font-family: inherit;
  font-size: 18px;
}

button {
  margin-top: 50px;
  background-color: #03dac6;
  color: black;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  padding: 10px 5%;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

button:active {
  background-color: black;
  color: #03dac6;
}
