@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #303030;
  padding: 10px 0 40px 0;
  box-shadow: 5px 5px 5px black;
}

body {
  background-color: #212121;
  padding: 5%;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: black;
  background-color: #bb86fc;
  padding: 10px;
}

h2 {
  color: white;
  font-weight: normal;
  margin: 50px 10% 0;
  font-size: 24px;
  text-align: left;
}

p {
  margin: 0 0 0 10%;
  text-align: left;
  font-size: 14px;
}

.input-bar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  max-width: 100%;
  padding: 10px 3%;
  border: none;
  font-family: inherit;
  font-size: 18px;
  background-color: #424242;
  color: white;
}

select {
  padding: 10px 3%;
  border: none;
  font-family: inherit;
  font-size: 18px;
  outline: none;
  height: 42px;
  background-color: #424242;
  color: white;
  border-left: 4px solid #303030;
  border-right: 4px solid #303030;
}

button {
  background-color: #03dac6;
  color: black;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 18px;
  padding: 10px 5%;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

button:active {
  background-color: black;
  color: #03dac6;
}

.tag {
  display: inline-block;
  background-color: #bb86fc;
  margin-top: 3px;
  margin-right: 7px;
  padding: 3px 1%;
  /* cursor: pointer; */
}

/* .tag:hover {
  opacity: 0.75;
} */

.clear-button {
  margin-top: 50px;
}
